# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environment
venv/
env/

# Log files
*.log

# Data files
*.csv
*.json
*.txt

# IDE and editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
